.footerContainer {
  background-color: lavender;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 50px;
}

/*why is this not setting the hover color?*/
.Navbar:hover {
  color: rebeccapurple;
}
