.App {
  text-align: center;
  font-family: "DomaineDisplayNarrow", Georgia, serif;
  font-weight: bold;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headshot {
  height: 400px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Welcome {
  margin: 70px;
}

.ExperienceDetails {
  margin: 10px;
}
