.App {
  text-align: center;
  font-family: "DomaineDisplayNarrow", Georgia, serif;
  font-weight: bold;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headshot {
  height: 400px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MyName {
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: 1;
}

.MyName {
  margin: 70px;
}

.Welcome {
  margin: 70px;
}

.ExperienceDetails {
  margin: 10px;
}
